@import "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css";

.content .wp-block-image .gatsby-image-wrapper,
.content .gatsby-image-wrapper {
  max-width: 100%;
  width: auto !important;
  display: block;
}

.content .wp-block-image img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
}

.wp-block-image .aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image .aligncenter figcaption {
  text-align: center;
}

.wp-block-image figcaption {
  font-size: 0.75em;
  margin-top: 1em;
}

figure {
  max-width: 100%;
}

table {
  font-size: 18px;
  padding: 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
table td {
  padding: 15px;
  border-bottom: solid 1px #ccc;
}
table tr:nth-child(even) {
  background: #ccc;
}
.chakra-ui-dark table tr:nth-child(even) {
  background: #1a365d;
}

.chakra-ui-dark table td {
  padding: 15px;
  border-bottom: solid 1px #20222c;
}
iframe {
  margin: 1rem 0;
}

.chakra-ui-dark .content p a,
.chakra-ui-dark .content ul a {
  color: #0cf;
}

.table-of-contents h1,
.table-of-contents h2,
.table-of-contents h3,
.table-of-contents h4,
.table-of-contents h5,
.table-of-contents h6,
.sidebar-content h1,
.sidebar-content h2,
.sidebar-content h3,
.sidebar-content h4,
.sidebar-content h5,
.sidebar-content h6,
.content p {
  word-break: break-word;
}
